<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Rustime</title>
	</head>

	<body>
		<h1>Critical Error</h1>
		<p>Something bad happened on startup. Here are the details:</p>
		<pre>{{ error }}</pre>
	</body>

</html>